footer {
    width: 100%;
    text-align: center;
    padding: 0%;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}
p {
    padding: 1% 0%;
}
ul {   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 0%;
    padding: 1% 0%;
    font-size: 1.05rem;
    background-color: rgba(128, 128, 128, 0.13);
    
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}
ul  .footerLink{
    color: rgb(0, 0, 0);
}
ul  .footerLink:hover, .router-link-exact-active {
    font-weight: bold;
}
ul a {
text-decoration: none;
}