#gameVue{
    width: 70%;
    margin: 3% auto 3% auto;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;

    .content{
        flex: 4;
        width: 100%;
        display: flex; 
        flex-direction: row;
        gap: 1%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3%;

        .gameCarrousel {
            flex: 4;
        }
        .gameInfo {
            flex: 2;
            min-height: 70vh;
            padding: 1%;

            .gameImg {
                width: 100%;

                img {
                    width: 100%;
                }
            }
            .descript {
                width: 100%;
                margin-top: 5%;
                color: var(--light-trans);
            }
            .ratings {
                display: inline-block;
                width: 100%;
                margin-top: 5%;
                text-align: center;
                .rat {
                    display: inline-block;
                    width: 100%;
                }
            }
            .devs {
                width: 100%;
                margin-top: 5%;
                color: var(--light-trans);

                p{
                    b{
                        font-weight: bold;
                        color: blue;
                    }
                }
            }
            .tags{
                width: 90%;
                margin: 5% auto 6% auto;
                display: flex; 
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                a {
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    color: var(--light-trans);
                }
            }

        }
    }
    .avisVide {
        padding: 1%;
        margin-bottom: 5%;
        p {
            color: var(--light-trans);
            font-size: 2.5rem;
        }
    }
    .Avis{
        display: flex;
        gap :1%;
        .Pagin{
            flex: 4;
            display: flex;
            flex-direction: column;
            padding: 1%;

            .form-container{
                width: 100%;
                color: var(--light-trans-2);
                padding: 0px;
                display: flex;
                flex-direction: column;
                .slide-controls{
                    margin-bottom: 5%;
                }
                .form-inner {
                    display: flex;
                    flex-direction: row;
                    height: auto;
                    width: 200%;

                    .recent, .old {
                        width: 50%;
                        //overflow-y: scroll;
                        overflow-x: hidden;
                        height: auto;
                        max-height: 640px;
                        scrollbar-width: thin;
                        scrollbar-color: rgba(255, 255, 255, 0.250) rgba(255, 255, 255, 0.06);
                        transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
                    }
                }
            }
        }
        
        .rate{

            flex: 2;
            padding: 1%;
            overflow: hidden;
        }

    }
}