#gameVue{
    width: 70%;
    margin: 3% auto 3% auto;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;

    .content{
        flex: 4;
        width: 100%;
        display: flex; 
        flex-direction: row;
        gap: 1%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3%;

        .gameCarrousel {
            flex: 4;
        }
        .gameInfo {
            flex: 2;
            min-height: 70vh;
            padding: 1%;

            .gameImg {
                width: 100%;

                img {
                    width: 100%;
                }
            }
            .descript {
                width: 100%;
                margin-top: 5%;
                color: var(--light-trans);
            }
            .ratings {
                display: inline-block;
                width: 100%;
                margin-top: 5%;
                text-align: center;
                .rat {
                    display: inline-block;
                    width: 100%;
                }
            }
            .devs {
                width: 100%;
                margin-top: 5%;
                color: var(--light-trans);

                p{
                    b{
                        font-weight: bold;
                        color: blue;
                    }
                }
            }
            .tags{
                width: 90%;
                margin: 5% auto 29% auto;
                display: flex; 
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                a {
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    color: var(--light-trans);
                }
            }

        }
    }
    .Avis{
        display: flex;
        gap :1%;
        .Pagin{
            display: flex;
            flex-direction: column;
            
            .recent {
                flex: 4;
            }
        }
        
        .rate{

            flex: 2;
        }
    }
}