.navBar {
  .navContent {
    width: 74%;
    margin: auto;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
  
      img {
        width: 70%;
      }
    }
    .logo:hover {
      img{
        cursor: pointer;
      }
    }
  
    .link {
      width: 90%;
      height: 60%;
      display: flex;
      align-items: center;
      gap: 1%;
      margin: 0%;
  
      .router {
        flex: 1;
        margin: 0%;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        border-radius: 3px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 1rem;
  
        .link-btn {
          margin: auto;
          color: black;
        }
        /*Gere l'inconne du menu quand l'usager est connecter*/
        .link .router .conectedIcon {
          font-size: 3rem;
        }
      }
      .router:hover {
        font-weight: bolder;
        .link-btn {
          color: var(--light);
        }
      }
      
      .router-link-exact-active{
        font-weight: bolder;
        font-size: 1.3rem;
        border-bottom: 3px solid var(--light);
        text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa,
            0 0 82px #0fa,
            0 0 92px #0fa,
            0 0 102px #0fa,
            0 0 151px #0fa;
        animation: neonGlow 1.5s ease-in-out infinite alternate;
        padding-bottom: 0.4%;
        .link-btn {
          color: var(--light);
        }
      }
      
    }
  }
}