:root {
    --purple: rgb(153, 54, 175);
    --purple-light: rgb(159, 102, 172);
    --dark-blue: rgb(0, 0, 86);
    --dark-blue-light: rgb(90, 90, 164);
    --light: rgb(255, 255, 255);
    --light-trans: rgba(255, 255, 255, 0.763);
    --dark: rgb(0, 0, 0);
    --light-gray-trans: rgba(128, 128, 128, 0.306);
    --very-light-gray-trans: rgba(128, 128, 128, 0.634);
    --dark-gray-trans: rgba(163, 163, 163, 0.634);
    --text-size: 3rem;
    --btn-text-size: 1.5rem;
    --footer-text-size: 1.05rem;
}

    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
}

body {
    background: var(--light);
}

.roundBorderSmall {
    border-radius: 5px;
}
.roundBorderAll {
    border-radius: 16px;
}
.roundBorderTop {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}
.roundBorderBottom {
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}
.app {
    .contentPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100svh;
    margin-top: 2%;

        .vue {
            width: 100%;
        }
    }
}