@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.wrapper{
  overflow: hidden;
  width: 45%;
  padding: 30px;
  border-radius: 16px;
  margin: auto;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  .title-text{
    display: flex;
    width: 200%;

    .title{
      width: 50%;
      font-size: 35px;
      font-weight: 600;
      text-align: center;
      transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
    }
  }

  .form-container {
    width: 100%;
    overflow: hidden;

    .slide-controls{
      position: relative;
      display: flex;
      height: 50px;
      width: 100%;
      overflow: hidden;
      margin: 30px 0 10px 0;
      justify-content: space-between;
      border: 1px solid var(--light-gray-trans);
      border-radius: 5px;

      .slide{
        height: 100%;
        width: 100%;
        color: var(--light);
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        line-height: 48px;
        cursor: pointer;
        z-index: 1;
        transition: all 0.6s ease;
      }
      input[type="radio"]{
        display: none;
      }
      label.signup{
        color: var(--dark);
      }
      .slider-tab{
        position: absolute;
        height: 100%;
        width: 50%;
        left: 0;
        z-index: 0;
        border-radius: 5px;
      
        background: -webkit-linear-gradient(left, var(--purple), var(--dark-blue));
        transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
      }
      #signup:checked ~ .slider-tab{
        left: 50%;
      }
      #signup:checked ~ label.signup{
        color: var(--light);
        cursor: default;
        user-select: none;
      }
      #signup:checked ~ label.login{
        color: var(--dark);
      }
      #login:checked ~ label.signup{
        color: var(--dark);
      }
      #login:checked ~ label.login{
        cursor: default;
        user-select: none;
      }
    }
    .form-inner{
      display: flex;
      width: 200%;

      form{
        width: 50%;
        transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);

        .field{
          height: 50px;
          width: 100%;
          margin: 5% auto;

          input{
            height: 100%;
            width: 100%;
            outline: none;
            padding-left: 15px;
            border-radius: 5px;
            border: 1px solid var(--light-gray-trans);
            border-bottom-width: 2px;
            font-size: 17px;
            transition: all 0.3s ease;
          }
          input:focus{
            border-color: var(--dark-blue);
          }
          input::placeholder{
            color: var(--dark-gray-trans);
            transition: all 0.3s ease;
          }
          input:focus::placeholder{
            color: var(--light-gray-trans);
          }
        }
        .btn{
          height: 50px;
          width: 100%;
          border-radius: 5px;
          position: relative;
          overflow: hidden;

          .btn-layer{
            height: 100%;
            width: 300%;
            position: absolute;
            left: -100%;
            background: -webkit-linear-gradient(right, var(--purple), var(--dark-blue), var(--purple), var(--dark-blue));
            border-radius: 5px;
            transition: all 0.4s ease;;
          }
          .submit{
            height: 100%;
            width: 100%;
            z-index: 1;
            position: relative;
            background: none;
            border: none;
            color: var(--light);
            padding-left: 0;
            border-radius: 5px;
            font-size: 1.5rem;
            font-weight: 500;
            cursor: pointer;
          }
        }
        .btn:hover {
          .btn-layer{
            left: 0;
          }
        }
        .pass-link{
          margin-top: 5px;
        }
        .signup-link{
          text-align: center;
          margin-top: 30px;
        }
        .pass-link a,
        .signup-link a{
          color: var(--dark-blue);
          text-decoration: none;
        }
        .pass-link a:hover,
        .signup-link a:hover{
          color: var(--dark-blue-light);
          text-decoration: underline;
        }
      }
    }
  }
} 