@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.wrapper{
  overflow: hidden;
  width: 50%;
  padding: 30px;
  margin: auto;

  .form-container {
    width: 100%;
    overflow: hidden;

    .slide-controls{
      position: relative;
      display: flex;
      height: 50px;
      width: 100%;
      overflow: hidden;
      margin: 30px 0 10px 0;
      justify-content: space-between;
      border: 1px solid var(--light-gray-trans);

      .slide{
        height: 100%;
        width: 100%;
        color: var(--light);
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        line-height: 48px;
        cursor: pointer;
        z-index: 1;
        transition: all 0.6s ease;
      }
      input[type="radio"]{
        display: none;
      }
      label.signup{
        color: var(--light-trans);
      }
      .slider-tab{
        position: absolute;
        height: 100%;
        width: 50%;
        left: 0;
        z-index: 0;
        border-radius: 5px;
      
        background: -webkit-linear-gradient(left, var(--purple), var(--dark-blue));
        transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
      }
      #signup:checked ~ .slider-tab{
        left: 50%;
      }
      #signup:checked ~ label.signup{
        color: var(--light);
        cursor: default;
        user-select: none;
        color: var(--light);       
        text-shadow:
            0 0 3px #ffffffa1,
            0 0 5px #ffffffa1,
            0 0 10px #ffffffa1,
            0 0 20px rgba(0, 255, 170, 0.600),
            0 0 40px rgba(0, 255, 170, 0.600),
            0 0 50px rgba(0, 255, 170, 0.600),
            0 0 60px rgba(0, 255, 170, 0.600),
            0 0 75px rgba(0, 255, 170, 0.600);
        animation: neonGlow 0.5s ease-in-out infinite alternate;
      }
      #signup:checked ~ label.login{
        color: var(--light-trans);
      }
      #login:checked ~ label.signup{
        color: var(--light-trans);
      }
      #login:checked ~ label.login{
        cursor: default;
        user-select: none;
        color: var(--light);       
        text-shadow:
            0 0 3px #ffffffa1,
            0 0 5px #ffffffa1,
            0 0 10px #ffffffa1,
            0 0 20px rgba(0, 255, 170, 0.600),
            0 0 40px rgba(0, 255, 170, 0.600),
            0 0 50px rgba(0, 255, 170, 0.600),
            0 0 60px rgba(0, 255, 170, 0.600),
            0 0 75px rgba(0, 255, 170, 0.600);
        animation: neonGlow 0.5s ease-in-out infinite alternate;
      }
    }
    
    .form-inner{
      display: flex;
      flex-direction: row;
      height: 45svh;
      width: 200%;

      form{
        width: 50%;
        transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);

        .field2 {
          display: flex;
          flex-direction: row;
          gap: 3%;
        }
        .btn {
          width: 100%;
        }
        .pass-link{
          margin-top: 5px;
        }
        .signup-link{
          text-align: center;
          margin-top: 30px;
          color: var(--light-trans-2);
        }
        .pass-link a,
        .signup-link a{
          color: var(--light-trans);
          text-decoration: none;
        }
        .pass-link a:hover,
        .signup-link a:hover{
          color: var(--light);
          //color: var(--dark-blue-light);
          text-decoration: underline;
        }
      }
    }
  }
}
.round {
  border-radius: 50%;
  img {
  border-radius: 50%;
  }
} 